<% include partials/header %>


<div class="index+searchbox">
    <form action="/words" method="POST">
        <input required class="index+search" type="text" placeholder="search...  <%=word.word%>" name="word" autocomplete="off">
    </form>
</div>

<div class="show+cell">
    <div class="show+word">
        <%=word.word%>
    </div>

    <div>
        <div>
            <div class="show+date">
                <span><%=word.discovered.toDateString() %></span>
            </div>
            <div class="show+details">
                <p><%=word.details%></p>
            </div>
            <a class="show+edit" href="http://localhost:1020/<%=word._id%>/edit">edit</a>
            <form action="/<%=word._id%>/delete" method="POST">
                <button class="show+delete">delete</button>
            </form>
        </div>
    </div>
</div>

<% include partials/footer %>